body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Arial Black";
}
.box{
    position: relative;
}
#tooltip{
    position: fixed;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px 20px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
}
.box:hover #tooltip {
    opacity: 1;
    visibility: visible;
}

