*,::before,::after{
    box-sizing: border-box;
}
.wrapper{
    width: 600px;
    margin: 0 auto;
}
.slider-container{
    overflow: hidden;
    background-color: hotpink;
}
.slider-track{
    background-color: yellow;
    display: flex;
    transition: 1s ease-in-out;
}
.slider-item{
    height: 100px;
}
.slider-item:nth-child(3n+1){ background-color: #03fcb1; }
.slider-item:nth-child(3n+2){ background-color: #fceb03; }
.slider-item:nth-child(3n+3){ background-color: rgba(255, 38, 82, 1); }
.slider-buttons{
    text-align: center;
}
